body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#nav{
    position:fixed;    
    background: rgba(0,0,0, 0.5);
    right: 10px;
    top: 10p;
}

#nav a{
    color: white;
}